.timeLineContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dataContainer {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.dataWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.timeLineHeader {
    display: flex;
    overflow-x: hidden;
    flex-shrink: 0;
}

.timesContainer {
    width: 100%;
    display: flex;
}

.time {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}